[submodule "External/glfw"]
	path = External/glfw
	url = https://github.com/glfw/glfw.git
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "External/implot"]
	path = External/implot
	url = https://github.com/epezent/implot.git
[submodule "External/entt"]
	path = External/entt
	url = https://github.com/skypjack/entt.git
